.container {
width: 60%;
margin: auto;
margin-top: 50px;
}

.top p,
.top button {
display: inline;
margin-right: 30px;

}
.top button {
float: right;
}

.problem {
width: 100%;
height: 100%;
margin: 20px 0;
border: solid 1px #167426;
border-radius: 15px;
}

.pro {
padding: 20px;
}

.pro p {
display: inline;
margin-right: 30px;
}

.explain {
word-break:break-all;
line-height: 200%;
word-spacing: 200%;
margin: 10px;
color: blue;
}

.pro button {
float: right;
}

.example {
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}

.input {
float: left;
width: 45%;
padding: 0 20px;
}

fieldset {
border-radius: 10px;
border: solid rgb(165, 165, 165) 1px;
}

.example-division {
border-radius: 10px;
text-align: center;
margin-left: 1em; padding: 0.2em 0.8em 
}

.result {
float: left;
width: 45%;
padding: 0 20px;
}

.input-content, .result-content {
padding-bottom: 20px;
padding: 10px
}

button#modify {
margin: 10px;
float: right;
}