@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Russo+One&display=swap');

body {
	margin: 0;
	padding: 0
}

.head-image { 
	background-image: url('../../images/main/forest-main.jpg');
	background-repeat : no-repeat;
	background-position-y : 50%;
	background-size : cover;
	height: 1000px
}

.navigator { margin:auto; width: 99vw; color: #fff; text-align: center; margin-top: 0;
	display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; 
	-ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

ul { list-style:none; margin: 0}
li { display: inline-block; padding: 0 15px}

.navigator a { text-decoration: none; color: #fff; font-family: 'Russo One', sans-serif;}
.navigator a:visited { color: #fff }
.navigator a:hover 	 { text-decoration: none; color: #fff }

.title { text-shadow: 3px 2px 2px black; text-align: center; font-family: 'Russo One', sans-serif; font-size: 3em;}
.menu { text-shadow: 2px 2px 2px black; padding-top: 20px; font-family: 'Russo One', sans-serif; font-size: 1.5em; }

.user { float: right; color: #fff; margin-top: 1.5rem; margin-right: 30px; }
.user li		{ padding: 0 10px }
.user a 		{ text-decoration: none; color: #fff; font-family: 'Russo One', sans-serif; border:1px solid white; border-radius: 10px; outline: 0; padding: 5px 15px 6px 15px}
.user a:visited { color: #fff }
.user a:hover 	{ text-decoration: none; color: #fff }

.intro { text-shadow: 2px 2px 2px black; color: #fff; text-align: left; 
		 font-family: 'Noto Sans KR', sans-serif; font-size: 2.5em;
		 width: 600px; padding-left: 250px; padding-top: 140px }

.end { margin-bottom: 30px }
		 
.join-btn { border:1px solid white; border-radius: 10px; outline: 0; font-size:1.5em; text-decoration: none;
			background-color: rgba(0,0,0,0); color: #fff; margin: 25px 0 0 250px; padding: 5px 15px 6px 15px}
.join-btn:hover { border: none; color: #5B7A94; background-color: rgba(255,255,255,80%); text-decoration: none;}
.join-btn:focus { outline: none; box-shadow: none; -webkit-box-shadow: none}

.codeTest {
    background-color: #000;
    margin: auto;
    padding: 50px 0 170px 0;
/* 	background-color: #F7F7F7; */
}

.leftImg {
    display: block;
}

.tbl-ex {
    margin: auto;
    padding: 5px;
}

td {
    padding: 5px 5px;
}

select {
    width: 155px;
    height: 35px;
    padding: .3em .3em;
    font-family: inherit;
    font-size: 8px;
    background: no-repeat 95% 50%;
    background-color: #fff;
    border: 1px solid #999;
    border-radius: 0px;
    margin: auto;
    margin-right: 150px;
    display: block;
}

#head {
    padding: 20px 0;
    text-align: center;
}

.code {
	height: 500px;
	width: 800px;
}

#code {
    width: 800px; 
    height: 500px;
    background-color: #fff;
    color: #000;
    font-family: Consolas, sans-serif;
    line-height: 2em;
    font-stretch: ultra-expanded;
    padding: 0 10px;
}

#result {
    width: 600px;
    height: 500px;
    background-color: #292A2B;
    color: #fff;
    font-family: Consolas, sans-serif;
    line-height: 2em;
    font-stretch: ultra-expanded;
    padding: 0 10px;
    border: none;
}

.bottom {
    margin: auto;
    display: block;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.btn-run {
    border:1px solid #fff;
    border-radius: 5px;
	outline: 0;
    background-color: rgba(0,0,0,0);
    color:#fff; 
}

.btn-run:hover{
    color:#000;
    background-color: #fff;
}
