@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Russo+One&display=swap');

.logo {
    display: block;
    margin-top : 230px;
    margin-left: 40.7vw;
}

.logo a {
    font-size: 3.5em;
    color: #fff;
    text-decoration: none;
    font-family: 'Russo One', sans-serif;
    font-weight: bold;
    text-shadow: 3px 2px 2px black;
}