@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body{
	height: 100%;
    overflow: hidden;
    background-image: url('../../images/main/forest-main.jpg');
    background-position: -5px -140px;
    background-repeat : no-repeat;
	background-size : cover;
}

#user{
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

#find-form{
    height: 216px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 70%);
}

.find-password {
	margin-top: 20px;
	margin-left: 25px;
}

label {
  font-size: 1.2em;
}

#email {
    margin-left: 25px;
    margin-top: 10px;
    width: 300px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 3px 0;
}

#auth-check {
    margin-left: 25px;
    margin-top: 15px;
    width: 138px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
}

#btn-auth {
    margin-top: 5px;
	padding : 0;
	margin-left: 10px;
    width:143px;
    height: 25px;
    background-color: #A5A5A5;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
}

#btn-auth-check {
    margin-left: 25px;
    margin-top: 20px;
    width:300px;
    height: 40px;
    background-color: #AD9885;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
    padding: 10px 0 16px;
}