@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body{
	height: 100%;
    overflow: hidden;
    background-image: url('../../images/main/forest-main.jpg');
    background-position: -5px -140px;
    background-repeat : no-repeat;
	background-size : cover;
}

#user{
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
}

#join-form{
    height: 335px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 70%);
}

label {
    font-size: 1.2em;
}

#nickname {
    margin-left: 23px;
    margin-top: 30px;
    width: 295px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
}

.error-email-pattern {
	position: fixed;
	width: 210px;
	top: 360px;
	left: 805px;
	background: #18609C;
	border-radius: .4em;
	padding: 5px 10px;
	color: #fff;
}

.error-email-pattern:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top-color: #18609C;
	border-bottom: 0;
	border-left: 0;
	margin-left: -5.5px;
	margin-bottom: -11px;
}

#email {
    margin-left: 23px;
    width: 295px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
}

.error-password-pattern {
	position: fixed;
	width: 230px;
	top: 385px;
	left: 805px;
	background: #18609C;
	border-radius: .4em;
	padding: 5px 10px;
	color: #fff;
}

.error-password-pattern:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top-color: #18609C;
	border-bottom: 0;
	border-left: 0;
	margin-left: -5.5px;
	margin-bottom: -11px;
}
#password {
    margin-left: 23px;
    width: 295px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
}

#passwordcheck {
    margin-left: 23px;
    margin-top: 20px;
    width: 295px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
}

#auth-check {
	margin: 0 10px 15px 23px;
    width: 138px;
    height: 18px;
    font-size: 1em;
    border: none;
    background: none;
    border-bottom: 2px solid #c4c5c4;
}

#btn-auth {
    margin-top: 5px;
	padding : 0;
	margin-left: 10px;
    width:143px;
    height: 25px;
    background-color: #A5A5A5;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
}

#btn-auth-check {
    margin-top: 5px;
	margin-left: 10px;
	padding : 0;
    width:143px;
    height: 25px;
    background-color: #A5A5A5;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
}

.cancel-button{
	margin-top: 5px;
	padding : 0;
	margin-left: 23px;
    width:143px;
    height: 40px;
    background-color: #A5A5A5;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
}

.join-button {
	margin-top: 5px;
	margin-left: 12px;
    width:143px;
    height: 40px;
    background-color: #AD9885;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
}

hr {
	width:300px;
	display: inline-block;
	border-bottom : 1px dashed #bbb;
	border-top: none;
	border-left: none;
	border-right: none;
	margin: 0 0 0 25px
}

.login-button{
    margin-left: 23px;
    margin-top: 13px;
    width:300px;
    height: 40px;
    background-color: #7A8B9B;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
}

a {
	text-decoration: none
}

span#nickname.errors {
	
}
