@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body{
	height: 100%;
    overflow: hidden;
    background-image: url('../../images/main/forest-main.jpg');
    background-position: -5px -140px;
    background-repeat : no-repeat;
	background-size : cover;
}

#user{
    height:900px;
    background-image:url(../../images/forest1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login-form{
    height: 300px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 70%);
}

#email {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 18px;
    background: none;
    border: none;
    display: block;
    font-size: 1em;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 9px;
}

#password {
    width: 300px;
    margin: 0 auto;
    display: block;
    height: 18px;
    background: none;
    border: none;
    font-size: 1em;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 9px;
}

.login-button{
    margin-left: 26px;
    margin-top: 20px;
    width:300px;
    height: 40px;
    background-color: #AD9885;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
    padding: 10px 0 16px;
}

.join-button {
    margin-left: 26px;
    margin-top: 10px;
    width: 300px;
    height: 33px;
    background-color: #7A8B9B;
    border:none;
    color:#fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;    
}

.findpassword {
    margin-left: 130px;
    margin-top: 25px;
}

.findpassword a {
    color:#626262;
    text-decoration: none;
}

.footer{
    background-color: grey;
    font-size:2em;
    text-align: center;
}