@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body{
    font-family: 'Nanum Gothic Coding', monospace;
    background-image: url('https://user-images.githubusercontent.com/59616862/81469572-984ccc00-9220-11ea-909c-f38341900047.jpg');
}

#user{
    height:900px;
    background-image:url(../../images/forest1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#login-form{
    height: 300px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 70%);
}

#email {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 18px;
    background: none;
    border: none;
    display: block;
    font-size: 1em;
}

div.email-area {
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 9px;
}

#password {
    width: 300px;
    margin: 0 auto;
    display: block;
    height: 18px;
    background: none;
    border: none;
    font-size: 1em;
}

.login-button{
    margin-left: 28px;
    margin-top: 20px;
    width:300px;
    height: 40px;
    background-color: #006000;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
    padding: 10px 0 16px;
}

.join-button {
    margin-left: 28px;
    margin-top: 10px;
    width: 300px;
    height: 33px;
    background-color: #006000;
    border:none;
    color:#fff;
    padding: 5px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;    
}

.findpassword {
    margin-left: 123px;
    margin-top: 25px;
}

.findpassword a{
    color:#626262;
    text-decoration: none;
}

.footer{
    background-color: grey;
    font-size:2em;
    text-align: center;
}