@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body{
	height: 100%;
    overflow: hidden;
    background-image: url('../../images/main/forest-main.jpg');
    background-position: -5px -140px;
    background-repeat : no-repeat;
	background-size : cover;
}

#user{
    height:900px;
    background-repeat: no-repeat;
    background-size: cover;
}

#login-form{
    height: 185px;
    width:350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    border: 1px solid #E3E3E3;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 70%);
}

label {
    font-size: 1.2em;
    margin: 0 auto;
}

#password {
	margin-left: 25px;
    margin-top: 18px;
    width: 300px;
    display: block;
    height: 18px;
    background: none;
    border: none;
    font-size: 1em;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 3px 0;
}

.error-password-pattern {
	position: fixed;
	width: 230px;
	top: 305px;
	left: 805px;
	background: #18609C;
	border-radius: .4em;
	padding: 5px 10px;
	color: #fff;
}

.error-password-pattern:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 10%;
	width: 0;
	height: 0;
	border: 11px solid transparent;
	border-top-color: #18609C;
	border-bottom: 0;
	border-left: 0;
	margin-left: -5.5px;
	margin-bottom: -11px;
}

#passwordcheck {
   width: 300px;
    margin: 0 auto;
    display: block;
    height: 18px;
    background: none;
    border: none;
    font-size: 1em;
    border-bottom: 2px solid #c4c5c4;
    padding: 20px 0 3px 0;
}

#complete {
     margin-left: 26px;
    margin-top: 20px;
    width:300px;
    height: 40px;
    background-color: #AD9885;
    border:none;
    color:#fff;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius:10px;
    display: block;
    font-size: 16px;
    padding: 10px 0 16px;
}